@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&family=Poppins:wght@300;600;900&display=swap');

:root{
  --color1: #AAD8D3;
  --color2: #120c14;
  --color3: #393E46;
  --color4: rgb(15, 170, 162);
  --mobiletext1: 50px;
  --mobiletext2: 25px;
  --mobiletext3: 15px;
  --desktext1: 80px;
  --desktext2p2: 30px;
  --desktext2: 40px;
  --desktext3: 25px;
  --desktext3p2: 18px;
}
*{
  margin:0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  animation: 2s ease-in 0s 1 load;
}

@keyframes load{
  0%{
    transform: translateY(-25px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

#progress-bar{
  height: 10px;
  background-color: lightcoral;
  background-image: linear-gradient(to right,#001724,#4d0954,#c11ce6);
  position: fixed;
  top: 0px;
}

a{
  text-decoration: none;
}
.titles{
  text-align: center;
  color: rgb(168, 168, 168);
  /* display: inline-block; */

}
.sub-titles{
  text-align: center;
}

/* welcome-section */
#welcome{
  background-image: url('../images/Endless-Constellation.svg');
  border: 1px solid black;
  color: #AAD8D3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
  padding-top: 100px;
  justify-content: space-between;
}
#welcome button{
  padding: 5px 20px 5px 20px;
  background-image: linear-gradient(to right, rgb(61, 49, 94),white);
  border: 0px;
  margin-top: 30px;
  font-size: var(--desktext3);
}
#welcome button:hover{
  box-shadow: 4px 6px grey;
}
#line2{
  color: #8771b1fa;
}
#welcome-1{
  padding: 100px 50px;
  width: 100%;
  display: block;
}  

#social li{
  padding: 30px 20px 30px 12px;
  list-style: none;
  font-size: var(--desktext3);
}
#social i{
  color: grey;
}

/* end of welcome-section  */

/* about me starts  */
#about-me {
  background-color: var(--color2);
  padding: 20px;
  box-shadow: 5px 7px 7px 8px rgba(122, 96, 96, 0.363);
  color: var(--color1);
  margin: 30px 40px;
}
#about-me-div{
  display: flex;
  justify-content: center;
}
#about-me-div1{
  width: 20%;
}
#about-me-div1 img{
  width: 100%;
}
#about-me-div2{
  width: 30%;
  align-self: center;
  padding-left: 50px;
}
#resume{
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  background-color: var(--color1);
  font-weight: 600;
  border: 0px;
}
#resume a {
  color: var(--color3);
}
#resume:hover{
  color: black;
  background-color: var(--color2);
  border: 1px solid var(--color1);
}

#desc{
  text-align: justify;
  margin: auto;
  width: 70vw;
}

.lang{
  border: 1px solid var(--color4);
  padding: 5px 25px;
  border-radius: 13px;
  background-image: linear-gradient(to right,var(--primarycolor), white);
}
/* about me ends  */
.nav-button{
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0.5;
  margin: 10px;
}

/* projects section starts  */
#main-projects{
  padding: 20px;
  color: aliceblue;
  /* background-image: url('images/design.jpg'); */
  /* background-size: cover; */
  text-align: center;
  background-blend-mode:soft-light;
  /* background-attachment: fixed; */
}
#projects{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  /* grid-template-rows:1fr 1fr; */
  grid-row-gap:40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 30px 20px 0px;
  /* background-color: #4d0954; */
}

.project-tile{
  background-color: rgb(29, 47, 53);
  background-image: url(images/bgimg.jpg);
  /* background-color: rgba(42, 71, 71,0.2); */
  background-blend-mode:overlay;
  background-size: cover;
  /* opacity: 0.4; */
  margin:5px;
  padding:6px;
  border-radius:15px;
  text-align:center;  
  width: 100%;
  height: 300px;
 }

 .project-info{
  color: aliceblue;
  font-weight: 100;
  padding-top: 30px;
}

.project-tile img{
  width:70%;
}

.project-link{
  /* color:voilet; */
  font-weight:bold;
}

#main-projects button{
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
  color: #dfa6e6;
  background-image: linear-gradient(to right ,black,grey);
}

 .project-title{
    font-size: var(--desktext2p1);
  }
  .project-desc{
    font-size: var(--desktext3);
  }
/* hover effect on project-tile */
.project-tile:hover{
  font-size: larger;
  /* background-color: var(--primarycolor); */
}

#img-wave{
  position: relative;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}


#main-projects {
  color: black;
}
#skills{
  text-align: center;
}
.skills-div{
  padding: 15px;
}
.skill-title{
  padding-bottom: 20px;
}

/* footer styles  start*/
footer{
  text-align: center;
  background-color: #791dcfb7;
}

#links a {
  padding: 20px;
  color: #cad5e6;
  margin: 20px;
  background-color: #373138;
  border-radius: var(--desktext2);
}
#links{
  padding: 40px;
  font-size: var(--desktext3);
}

#name{
  color: #f7f9ff;
}

#up-arrow{
  padding: 15px;
  border-radius: 45%;
  border: 0px;
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 3;
}
footer p{
  padding-bottom: 20px;
}

@keyframes toright{
  0%{
    transform: translateX(-750px);
  }
  75%{
    transform: translateX(3px);
  }
  100%{
    transform: translateX(-1px);
  }
}


/* mobile screens  */
@media screen and (max-width:1025px){
  #navdisplay{
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: var(--mobiletext1);
    color: aliceblue;
  }
  .titles{
    font-size: var(--mobiletext2);
    font-weight: bold;
  }
  .sub-titles{
  font-size: var(--mobiletext3);
  }

  #line1{
  font-size: var(--mobiletext2);
  font-weight: 600;
  }

#line2{
  font-size: var(--mobiletext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--mobiletext3);
}
  #welcome button{
    font-size: var(--mobiletext3);
    margin-top: 30px;
  }
  #social li{
  font-size: var(--mobiletext2p2);
  }
  #social ul{
  bottom: 300px;
  justify-content: space-evenly;
  display: flex;
} 
  
  #projects{
    grid-template-columns:1fr;
    /* height:100%; */
    padding:30px;
  }

  /* about-me  starts*/
  #about-me{
  font-size: var(--mobiletext3);
  }
  #about-me-div{
    display: block;
  }
   #about-me-div1 {
    display: block;
    width: 100%;
   }
  #about-me-div1 img{
    width: 40%;
    display: block;
    margin: auto;
  }
  #about-me-div2{
    text-align: center;
    width: 100%;
    padding: 5px 0px 0px 0px;
  }
  /* about me ends  */
  #welcome{
    display: block;
  }
  #welcome-1{
    text-align: center;
  }
  #navbar{
    padding-top: 50px;
    position: fixed;
    top: 0px;
    right:0px;
    background-color:rgba(0, 0, 22, 0.685);
    height: 100%;
    color: white;
    z-index: 2;
  }
  #navbar{
    display: none;
  }
  #navbar a{
  color: #AAD8D3;
}

  #navbar ul{
    list-style: none;
  }
  #navbar li{
    padding: 30px;
  }
  
  #links a {
  border-radius: var(--mobiletext3);
}
#links{
  font-size: var(--mobiletext3);
}
#contact-1 p{
  font-size: var(--mobiletext3);
}
 
}

/* desktop screens  */
@media screen and (min-width:1025px){
#navbar a{
  color: aliceblue;
}
 #line1{
  font-size: var(--desktext2);
  font-weight: 600;
}

#line2{
  font-size: var(--desktext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--desktext3);
}

.titles{
  font-size: var(--desktext2);
  font-weight: bold;
}
.sub-titles{
  color: var(--primarycolor);
  font-size: var(--desktex3);
  font-weight: 600;
}

#social ul{
  position: absolute;
  top: 150px;
  right: 10px;
  display: block;
}
#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(49, 66, 82);
}
#navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 15px;
}
#navbar li{
  padding: 10px 15px;
}
#navbar li:hover{
  border: 1px solid rgb(111, 54, 165);
}
#contact-1 p{
  font-size: var(--desktext3p2);
}
#links a {
  border-radius: var(--desktext2);
}
#links{
  font-size: var(--desktext3p2);
}

}



