@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&family=Poppins:wght@300;600;900&display=swap');

:root{
  --color1: rgb(170, 75, 170);
  --color2: #120c14;
  --color3: #a4b9e2;
  --color4: rgb(116, 150, 148);
  --mobiletext1: 50px;
  --mobiletext2: 25px;
  --mobiletext2p2: 20px;
  --mobiletext3: 15px;
  --desktext1: 80px;
  --desktext2p2: 30px;
  --desktext2: 40px;
  --desktext3: 25px;
  --desktext3p2: 18px;
}
body{
  /* background-image: url('../images/Alternating-Arrowhead.svg'); */
  /* background-image: url('../images/Alternating-Arrowhead0.svg'); */
  background-image: url('../images/Subtle-Prism.svg');
}
*{
  margin:0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  animation: 2s ease-in 0s 1 load;
}

@keyframes load{
  0%{
    transform: translateY(-25px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}
::selection{
  background-color: var(--color3);
}
#progress-bar{
  height: 10px;
  background-image: linear-gradient(to right,#001724,#4d0954,#c11ce6);
  position: fixed;
  top: 0px;
}
#logo{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.titles{
  text-align: center;
  color: white;
  /* display: inline-block; */
}
#main-projects .titles,#main-projects .sub-titles{
  color: var(--color2);
}
#main-projects div{
  color: rgb(221, 205, 205);
}
.project-title{
  padding: 20px;
  font-weight: bolder;
}

.sub-titles{
  text-align: center;
}
#greet{
  color: var(--color3);
  padding: 30px 0px;
}
.navbar{
  text-transform: uppercase;
}
.navbar a{
  color: var(--color3);
}

/* welcome-section */
#welcome{
  background-image: url('../images/Endless-Constellation.svg');
  /* background-image: url('../images/Subtle-Prism.svg'); */
  background-size: cover;
  /* border: 1px solid black; */
  color: var(--color4);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
  padding-top: 100px;
  justify-content: space-between;
}
#welcome button{
  padding: 5px 20px 5px 20px;
  background-image: linear-gradient(to right, rgb(61, 49, 94),white);
  border: 0px;
  margin-top: 30px;
  font-size: var(--desktext3);
}
#welcome button:hover{
  box-shadow: 4px 6px grey;
}
#line2{
  color: var(--color1);
}
#line1,#line3{
  font-weight: 600;
  color: var(--color3);
}
#welcome-1{
  padding: 100px 50px;
  width: 100%;
  display: block;
}  

#social li{
  padding: 10px;
  list-style: none;
  font-size: var(--desktext3);
}

#social i{
  color: white;
}

/* end of welcome-section  */

/* about me starts  */
#about-me {
  background-color: var(--color2);
  padding: 20px;
  box-shadow: 5px 7px 7px 8px rgba(122, 96, 96, 0.363);
  color: white;
  margin: 30px 40px;
}
#about-me-div{
  display: flex;
  justify-content: center;
}
#about-me-div1{
  width: 20%;
}
#about-me-div1 img{
  width: 90%;
  height: 90%;
}
#about-me-div2{
  width: 30%;
  align-self: center;
  padding-left: 50px;
}
#resume{
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  background-color: var(--color2);
  font-weight: 600;
  border: 0px;
  border: 1px solid var(--color1);
}
#resume a {
  color: white;
}
#resume:hover{
  border:1px solid whitesmoke;
}

#desc{
  text-align: justify;
  margin: auto;
  width: 70vw;
}


/* about me ends  */
.nav-button{
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0.5;
  margin: 10px;
}

/* projects section starts  */
#main-projects{
  padding: 10px;
  color: aliceblue;
  /* background-image: url('../images/Flat-Mountains.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.project-icons{
  font-size:var(--desktext2p2);
  position: absolute;
  bottom: 0px;
  padding: 50px;
}
#projects{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap:40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0px 20px 0px;
}

.project-tile{
  background-color: var(--color2);
  /* border: 1px solid var(--color2); */
  background-image: url(images/bgimg.jpg);
  background-blend-mode:overlay;
  background-size: cover;
  margin:5px;
  padding:6px;
  border-radius:15px;
  text-align:center;  
  width: 100%;
  position: relative;
  height: 250px;
 }

.project-tile img{
  width:70%;
}
.tech-ul{
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 0px;
}
.tech-ul li{
  padding: 10px;
  list-style: none;
}

button{
  cursor: pointer;
}
#main-projects button{
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
  color: #dfa6e6;
  background-color: var(--color2);
}

 .project-title{
    font-size: var(--desktext2p1);
  }
  .project-desc{
    font-size: var(--desktext3);
  }
/* hover effect on project-tile */
.project-tile:hover{
  font-size: larger;
}

#img-wave{
  position: relative;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}


#main-projects {
  color: black;
}
#skills{
  text-align: center;
  background-color: var(--color2);
  /* margin: 20px; */
  color: #cad5e6;
}

.skills-div{
  padding: 15px;
}
.skill-title{
  padding-bottom: 20px;
}
.lang{
  border: 1px solid var(--color1);
  padding: 5px 25px;
  border-radius: 13px;
  color: var(--color1);
  background-image: linear-gradient(to right,var(--primarycolor), white);
}
.lang:hover{
  color: #e3b8ec;
}

/* footer styles  start*/
footer{
  text-align: center;
  background-color: var(--color2);
  color: white;
}

#links a {
  padding: 20px;
  color: #cad5e6;
  margin: 20px;
  background-color: #373138;
  border-radius: var(--desktext2);
}
#links{
  padding: 40px;
  font-size: var(--desktext3);
}

#name{
  color: var(--color1);
}

#up-arrow{
  padding: 15px;
  border-radius: 45%;
  border: 0px;
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 3;
}
footer p{
  padding-bottom: 20px;
}
footer i,.uil-arrow-up{
  font-size: 25px;
} 

/* footer ends  */

@keyframes toright{
  0%{
    transform: translateX(-750px);
  }
  75%{
    transform: translateX(3px);
  }
  100%{
    transform: translateX(-1px);
  }
}


/* mobile screens  */
@media screen and (max-width:1025px){

  #navdisplay{
    position: fixed;
    z-index: 3;
    top: 0px;
    bottom: 0px;
    right: 10px;
    font-size: var(--mobiletext1);
    color: #e9dbeb;
  }
   .navbar{
    padding-top: 50px;
    position: fixed;
    top: 0px;
    right:0px;
    bottom: 0px;
    background-color:rgba(0, 0, 22, 0.685);
    height: 100%;
    z-index: 2;
  }
  .navbar {
    animation: fromright 2s ease-out;
  }
  @keyframes fromright{
    0%{
      transform: translateX(220px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  .navbardisplay{
    display: none;
  }
  .navbar li{
    padding:20px;
  }
  .navbar ul{
    list-style: none;
  }
  #logo{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: var(--mobiletext2);
    font-weight: bold;
    color: var(--color3);
  }
  #welcome-1{
  padding: 70px 50px;
  }
  .titles{
    font-size: var(--mobiletext2);
    font-weight: bold;
  }
  .sub-titles{
  font-size: var(--mobiletext3);
  }

  #line1{
  font-size: var(--mobiletext2);
  }

#line2{
  font-size: var(--mobiletext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--mobiletext3);
}
#greet{
  font-size: var(--mobiletext2p2);
}
  #welcome button{
    font-size: var(--mobiletext3);
    margin-top: 30px;
  }
  #social li{
  font-size: var(--mobiletext2p2);
  }
  #social ul{
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
  } 
  
  #projects{
    grid-template-columns:1fr;
    /* height:100%; */
    padding:30px;
  }

  /* about-me  starts*/
  #about-me{
  font-size: var(--mobiletext3);
  }
  #about-me-div{
    display: block;
  }
   #about-me-div1 {
    display: block;
    width: 100%;
   }
  #about-me-div1 img{
    width: 40%;
    display: block;
    margin: auto;
  }
  #about-me-div2{
    text-align: center;
    width: 100%;
    padding: 5px 0px 0px 0px;
  }
  /* about me ends  */
  #welcome{
    display: block;
  }
  #welcome-1{
    text-align: center;
  }
 
  #links a {
  border-radius: var(--mobiletext3);
}
#links{
  font-size: var(--mobiletext3);
}
#contact-1 p{
  font-size: var(--mobiletext3);
}
.lang{
  display: inline-block;
  margin: 5px;
}
 
}

/* desktop screens  */
@media screen and (min-width:1025px){
 #logo{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: var(--mobiletext2);
    font-weight: bold;
    color: var(--color4);
    z-index:3;
  }
 #line1{
  font-size: var(--desktext2);
}

#line2{
  font-size: var(--desktext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--desktext3);
}
#greet{
  font-size: var(--desktext3);
}

.titles{
  font-size: var(--desktext2);
  font-weight: bold;
}
.sub-titles{
  color: var(--primarycolor);
  font-size: var(--desktex3);
  font-weight: 600;
}

#social ul{
  position: absolute;
  top: 200px;
  right: 10px;
  display: block;
}
.navbar{
  position: absolute;
  top: 0px;
  /* margin: 15px; */
  left: 0px;
  right: 0px;
  background-color: rgb(0, 1, 2);
  /* border-radius: 10px; */
}
#navdisplay{
  display: none;
}
.navbar ul{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  list-style: none;
  padding: 10px;
}
.navbar li{
  padding: 10px 15px;
}
.navbar li:hover{
  border: 1px solid rgb(111, 54, 165);

}
#contact-1 p{
  font-size: var(--desktext3p2);
}
#links a {
  border-radius: var(--desktext2);
}
#links{
  font-size: var(--desktext3p2);
}


}
.project-border {
  height: 40vh;
  width: 30vw;
  margin-top: 100px;
  border: 5px solid black;
}
.project-img {
  width: 85%;
  height: 80%;
  margin: auto;
  display: block;
  margin: auto;
  position: relative;
  bottom: 30%;
}


