@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&family=Poppins:wght@300;600;900&display=swap');

:root{
  --colo1: #AAD8D3;
  --color2: #235558;
  --color3: #393E46;
  --mobiletext1: 50px;
  --mobiletext2: 25px;
  --mobiletext3: 15px;
  --desktext1: 80px;
  --desktext2p2: 30px;
  --desktext2: 40px;
  --desktext3: 20px;
}
*{
  margin:0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* html{
  overflow-x: hidden;
} */

#progress-bar{
  height: 10px;
  /* width: 70px; */
  background-color: lightcoral;
  background-image: linear-gradient(to right,#001724,#4d0954,#c11ce6);
  position: fixed;
  top: 0px;
}

a{
  text-decoration: none;
}

.titles{
  font-size: var(--desktext2);
  text-align: center;
}
.sub-titles{
  color: var(--primarycolor);
  text-align: center;
  font-size: var(--desktext3);
  font-weight: 600;
}
/* welcome-section */
#welcome{
  /* background-image: url('images/bg.jpg'); */
  background-image: url('images/Endless-Constellation.svg');
  border: 1px solid black;
  color: #AAD8D3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
  justify-content: space-between;
}
#welcome button{
  /* padding: 5px 20px 5px 20px; */
  background-image: linear-gradient(to right, var(--color2),var(--color3));
  border: 1px solid blueviolet;
  margin-top: 70px;
  font-size: var(--desktext3);
}
#welcome button:hover{
  box-shadow: 2px 5px grey;
}

#welcome-1{
  padding: 100px 50px;
  width: 100%;
  display: block;
}  



#social ul{
  position: absolute;
  top: 150px;
  right: 10px;
  display: block;
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  }
#social li{
  padding: 30px 20px 30px 12px;
  list-style: none;
  font-size: var(--desktext3);
}
#social i{
  color: grey;
}

/* end of welcome-section  */

/* about me starts  */
#about-me {
  background-color: var(--color2);
  padding: 20px;
  box-shadow: 5px 7px 7px 8px grey;
  color: var(--color3);
  margin: 30px 40px;
}
#about-me-div{
  display: flex;
  justify-content: center;
}
#about-me-div1{
  width: 20%;
}
#about-me-div1 img{
  width: 100%;
}
#about-me-div2{
  width: 30%;
  align-self: center;
  padding-left: 50px;
}
#resume{
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  background-color: var(--primarycolor);
  font-weight: 600;
  color: antiquewhite;
}
#resume:hover{
  border-color: var(--primarycolor);
  background-color: white;
  color: black;
}

#desc{
  text-align: justify;
  margin: auto;
  width: 70vw;
}

.lang{
  border: 1px solid black;
  padding: 5px 25px;
  border-radius: 13px;
  background-image: linear-gradient(to right,var(--primarycolor), white);
}
/* about me ends  */
.nav-button{
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0.5;
  margin: 10px;
}
/* navbar styles  */

/* #navbar{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
#navbar ul{
  display: flex;
  align-items: center;
  background-color: aquamarine;
  list-style: none;
}
#navbar a{
  text-decoration: none;
}
#navbar ul li{
  padding: 30px;
  position: relative;
  left: 40%;
} */
/* navbar ends  */

/* projects section starts  */
#main-projects{
  padding: 20px;
  color: aliceblue;
}
#projects{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-template-rows:1fr 1fr;
  grid-row-gap:40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 30px 20px 0px;
}

.project-tile{
  background-color: rgb(29, 47, 53);
  background-image: url(images/bgimg.jpg);
  /* background-color: rgba(42, 71, 71,0.2); */
  background-blend-mode:overlay;
  background-size: cover;
  /* opacity: 0.4; */
  margin:5px;
  padding:6px;
  border-radius:15px;
  text-align:center;  
  width: 100%;
  height: 300px;
 }

 .project-info{
  color: aliceblue;
  font-weight: 100;
  padding-top: 30px;
}

/* .project-tile:hover{
  box-shadow: 3px 1px 15px black;
} */


.project-tile img{
  width:70%;
}

.project-link{
  /* color:voilet; */
  font-weight:bold;
}

 .project-title{
    font-size: var(--desktext2p1);
  }
  .project-desc{
    font-size: var(--desktext3);
  }
/* hover effect on project-tile */
.project-tile:hover{
  font-size: larger;
  /* background-color: var(--primarycolor); */
}

#img-wave{
  position: relative;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}


#main-projects {
  color: black;
}
#skills{
  text-align: center;
}
.skills-div{
  padding: 15px;
}
.skill-title{
  padding-bottom: 20px;
}

/* footer styles  */
footer{
  background-color: rgba(20,20,40,0.4);
  text-align: center;
}
footer li{
  /* padding: 20px; */
  background-color: black;
  padding: 15px 20px 15px 20px;
  margin: 5px;
  border-radius: 50%;
}
footer ul{
  width: 50%;
  margin: auto;
  display: flex;
  list-style:none;
  justify-content: space-evenly;
}
/* #contact-1{
   position: absolute;
  bottom: 0px;
} */
footer p{
  text-align: center;
}

nav ul a,footer ul a{
  color:grey;
}


footer{
  position: relative;
  /* background-color: rgb(4, 17, 17); */
}
footer a{
  color: #393E46;
  /* font-size: 30px; */
}
footer img{
  position: absolute;
  bottom: 0px;
  /* right: 0px;
  left: 0px; */
  width: 100%;
  /* z-index: -1; */
}
#name{
  color: #061a5f;
  font-weight: bold;
}

#up-arrow{
  padding: 15px;
  border-radius: 45%;
  border: 0px;
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 3;
}

@keyframes toright{
  0%{
    transform: translateX(-750px);
  }
  75%{
    transform: translateX(3px);
  }
  100%{
    transform: translateX(-1px);
  }
}

/* desktop screens  */
@media screen and (min-width:599px){
#navbar a{
  color: aliceblue;

}
 #line1{
  font-size: var(--desktext2);
  font-weight: 600;
}

#line2{
  font-size: var(--desktext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--desktext3);
}
#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(49, 66, 82);
}
#navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 15px;
}
#navbar li{
  padding: 10px 15px;
}
#navbar li:hover{
  border: 1px solid rgb(111, 54, 165);
}

#line2:hover{
  color: #AAD8D3;
}

}


/* mobile screens  */
@media screen and  (max-width:600px){
  .titles{
  font-size: var(--mobiletext2);
}
.sub-titles{
  font-size: var(--mobiletext3);
}

  #line1{
  font-size: var(--mobiletext2);
  font-weight: 600;
}

#line2{
  font-size: var(--mobiletext1);
  font-weight: bold;
  animation: toright 3s;
}

#line3{
  font-size: var(--mobiletext3);
}
  #welcome button{
    font-size: var(--mobiletext3);
    margin-top: 40px;
  }
  #social li{
  font-size: var(--mobiletext2);
  }
  #social ul{
  position: absolute;
  top: 280px;
  left: -20px;
  justify-content: center;
  display: flex;
}
  
  #projects{
    grid-template-columns:1fr;
    height:100%;
    padding:30px;
  }

  /* about-me  starts*/
  #about-me{
  font-size: var(--mobiletext3);
  }
  #about-me-div{
    display: block;
  }
   #about-me-div1 {
    display: block;
    width: 100%;
   }
  #about-me-div1 img{
    width: 40%;
    display: block;
    margin: auto;
  }
  #about-me-div2{
    text-align: center;
    width: 100%;
    padding: 5px 0px 0px 0px;
  }

  /* about me ends  */
  #welcome{
    display: block;
  }
  #welcome-1{
    text-align: center;
  }
  #line1{
    color: rgb(126, 126, 180);
  }
  #navbar{
    position: absolute;
    top: 0px;
    background-color:darkblue;
    height: 100%;
    color: white;

    z-index: 2;
  }
  #navbar ul{
    list-style: none;
  }
  #navbar li{
    padding: 30px;
  }
  #navbar{
    display: none;
  }
}



